*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, darkcyan, #bbffff);
  overflow: hidden; }

.heading {
  height: 50vh;
  position: relative; }
  .heading-text-box {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    letter-spacing: .2rem;
    width: 80%;
    max-width: 70rem; }
    .heading-text-box__title {
      font-size: 6rem;
      font-weight: 300;
      margin-bottom: 5rem;
      color: #e2e2e2; }

.greeting-form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 0.8rem 1rem rgba(51, 51, 51, 0.5); }
  .greeting-form__input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border: .1rem solid #eee;
    border-radius: .5rem; }
  .greeting-form__input:active, .greeting-form__input:focus {
    outline: none; }
  .greeting-form__submit {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .2rem;
    background-color: #5a9600;
    color: #eee;
    transition: all .3s;
    outline: none; }
  .greeting-form__submit:hover {
    cursor: pointer;
    background-color: #6aaf02;
    color: #fff; }
  .greeting-form__submit:active {
    background-color: #7dd100; }

.greeting {
  height: 50vh;
  position: relative; }
  .greeting-block {
    text-align: center;
    margin: 2rem 0; }
    .greeting-block__text {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%; }
    .greeting-block__title {
      font-size: 4rem;
      font-weight: 400; }
    .greeting-block__content {
      font-size: 2rem; }
